# Python
venv/
__pycache__/
*.pyc

# VSCode
.vscode/

# Logs
*.log

# Environment
.env

# Node
frontend-dashboard/node_modules/
frontend-dashboard/dist/

# FastAPI/metrics
metrics.json

# OS files
.DS_Store
Thumbs.db
